:root {
    --bg-main: #0c1e3e;
    --secondary:  #122c5a;
    --border: #8e52f5;
    --highlight: #fc0ff5;
    --bright: #38fbdb;
  }

.custom-card {
    background-color: var(--secondary);
    color: var(--bright);
    border: 4px outset var(--border);
    padding: 8px;
}

.btn-outline-info.custom-color {
    color: var( --bright);
    border-color: var( --border);
}

.btn-outline-info.custom-color:hover {
   
    border-color: var( --border);
    background-color: var( --highlight);;
    color: var(--bright);
}